MONGO_URI="mongodb://example_user:example_pw@localhost:27017/db_name?authSource=admin"
GEMINI_API_KEY="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
CHROME_PATH="/usr/bin/chromium-browser" # default: /usr/bin/chromium-browser

# Kafka 설정
KAFKA_BOOTSTRAP_SERVERS="kafka:9092"
KAFKA_GROUP_ID="tech-letter"
KAFKA_AUTO_OFFSET_RESET="earliest"