services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    container_name: techletter_api
    restart: unless-stopped
    ports:
      - "8080:8080"
    volumes:
      - ./config.yaml:/app/config.yaml:ro
      - ./.env:/app/.env:ro
    environment:
      MONGO_URI: ${MONGO_URI}
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      KAFKA_GROUP_ID: tech-letter-api
    networks:
      - tech-letter_default
    deploy:
      resources:
        limits:
          memory: 256M
        reservations:
          memory: 128M

  content_service:
    build:
      context: .
      dockerfile: Dockerfile.content_service
    container_name: techletter_content_service
    restart: unless-stopped
    ports:
      - "8001:8001"
    volumes:
      - ./config.yaml:/app/config.yaml:ro
    env_file:
        - .env
    environment:
      MONGO_URI: ${MONGO_URI}
      MONGO_DB_NAME: techletter
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      KAFKA_GROUP_ID: tech-letter-content-service
      KAFKA_MESSAGE_MAX_BYTES: 10485760 # 10MB
      KAFKA_MAX_POLL_INTERVAL_MS: 900000 # 15분
      CONTENT_SERVICE_PORT: 8001
      LOG_LEVEL: INFO
    networks:
      - tech-letter_default
    deploy:
      resources:
        limits:
          memory: 512M
        reservations:
          memory: 256M

  retryworker:
    build:
      context: .
      dockerfile: Dockerfile.retryworker
    container_name: techletter_retry_worker
    restart: unless-stopped
    volumes:
      - ./config.yaml:/app/config.yaml:ro
    environment:
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      KAFKA_GROUP_ID: tech-letter-retry
      KAFKA_MESSAGE_MAX_BYTES: 10485760 # 10MB
    networks:
      - tech-letter_default
    deploy:
      resources:
        limits:
          memory: 1G
        reservations:
          memory: 512M

  summary_worker:
    image: tech-letter-summary-worker
    build:
      context: .
      dockerfile: Dockerfile.summary_worker
    container_name: techletter_summary_worker
    restart: unless-stopped
    env_file:
        - .env
    environment:
      SUMMARY_WORKER_LLM_API_KEY: ${SUMMARY_WORKER_LLM_API_KEY}
      SUMMARY_WORKER_LLM_PROVIDER: google
      SUMMARY_WORKER_LLM_MODEL_NAME: gemini-2.5-flash
      SUMMARY_WORKER_LLM_TEMPERATURE: 1
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      KAFKA_GROUP_ID: tech-letter-summary-worker
      KAFKA_MESSAGE_MAX_BYTES: 10485760 # 10MB
      KAFKA_MAX_POLL_INTERVAL_MS: 1800000 # 30분
      LOG_LEVEL: INFO
    networks:
      - tech-letter_default
    deploy:
      resources:
        limits:
          memory: 1G
        reservations:
          memory: 512M

networks:
  tech-letter_default:
    external: true
